<header id="header">
	<h1 id="logo"><a href="/">Roger & Jessica <span>Wedding</span></a></h1>
	<nav id="nav">
		<ul>
			<!--<li><a href="/shower.html">Shower</a></li>-->
			<li><a href="/ceremony.html">Ceremony</a></li>
			<li><a href="/reception.html">Reception</a></li>
			<li><a href="/weddingparty.html">Party</a></li>
			<li><a href="/accommodations.html">Hotels</a></li>
			<li><a href="/timeline.html">Story</a></li>
			<li><a href="/contact.html">Contact</a></li>
			<li><a href="/registry.html">Registry</a></li>
			<li><a href="/vendors.html">Vendors</a></li>
			<!--<li><a href="/register.html" class="button special">RSVP</a></li>-->
		</ul>
	</nav>
</header>